*{
    background-color: #f19371;
    height: 100vh;
    box-sizing: border-box;
    color: #e6dcd7;
}
span{
    display:inline-block;
    height: 25px;
    width: 25px;
    background-color: #353335;
    color: #f5692b;
}
body,.calculator-body,.container,.center-buttons,.bottom-buttons,.btn ,.divide,span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body{
    background-color: #353335;
    height: 85vh;
    width: 55vh;
    border-radius: 40px;
}
.container{
    align-items: stretch;
    background-color: #353335;
    flex-direction: column;
    height: 90%;
    width: 90%;
}
.display{
    font-size: 50px;
    padding: 5px;
    border-radius: 15px;
    flex :3 1 0;
    background-color: #353335;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: flex-end;
}
.center-buttons{
    padding: 10px;
    flex: 5 1 0;
    border-radius: 15px;
    flex-flow: row wrap;
    gap: 15px;
    background-color: #353335;
}
.bottom-buttons{
    display: flex;
    flex-flow: row wrap;
    flex: 1 2 0;
    border-radius: 15px;
    gap :15px;
    padding: 20px;
    padding-top: 20px;
    background-color: #353335;
}
.btn{
    font-size: x-large;
    border-radius: 20px;
    width: 20%;
    height: 20%;
    background-color:#353335;
    box-shadow: 5px 5px 15px 2px #504e50;
}
.bottom-buttons>.btn{
    height: 50px;
}
.Equal{
    flex-grow: 2;
    background-color: #f5692b;
}
.operate{
    color:#f5692b ;
}
.display-top,.display-bottom{
    text-overflow:wrap;
    display: flex;
    justify-content: right;
    flex-flow: row wrap;
    height: 50%;
    width: 80%;
    background-color: #353335;
    font-size: 70%;
}
.display-bottom{
font-size: 90%;
}